.musicContainer {

  display: flex;
  background-color: #282c34;
  flex-direction: column;
  padding-top: 120px;
  justify-content: center;
  align-items: stretch;
  background-image: url( '../assets/burnt.jpg' );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height:100vh;
}

#musicHeader {
  margin-top:0px;
  padding-bottom:20px;
  text-align: center;
}

player {
  width: 500px;
  height: 500px;
}


ReactPlayer {
  height: 100px;
}

.soundcloudWrapper {

  height: calc(100vh - 150px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

}

.song {
  margin-bottom: 60px;
  width: 100vw;

}
