.backgroundImage {
  flex-grow: 1;
  flex:1;
  flex-grow:1;
  align-self: flex-end;
  position: absolute;
  background-size: cover;
}
.home {
  height:100vh;
  background-image: url( '../assets/bg.png' );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.SpotifyPlayer {
  align-self: center;
}

#musicPlayer {
  width:100%;
}

audio::-webkit-media-controls-panel {
  background-color: orange;
  background: none;
  border-radius:0;
}




#player2 {
  height: 80px;
}





@media only screen and (max-width: 650px) {
  .bgContainer {

    background-image: url( '../assets/mobileHome.jpg' );

  }
}

.home {


  background-color: #282c34;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

#ReactPlayer {
  background-color: red;
  width:100%;
}

#newAlbum {
  align-self: center;
}

#spotifyContainer {
width: 100%;
bottom: 0;
height: 80px;
}

#preLoad {
  display: none;
}
