@import url('https://fonts.googleapis.com/css?family=Righteous');

.navMobile {
  position: absolute;
  background-color: black;
  /* opacity: .8; */
  flex:1;
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-between;
  align-items: flex-end;
  width:75vw;
  height: 100vh;
  padding: 0;
  margin:0;
  top:0;
  transition: left 200ms;
  z-index: 12;
}



#navMobileInactive {
  left:-100%;
}

#navMobileActive {
  left:0%;
}

#mobileNavContain {
  position: absolute;
  z-index: 12;
}



.externalLinksMobile {
  height:calc(8vh+40px);
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
}

.internalLinksMobile {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: flex-start;
  background-color: transparent;
  width:100%;
  height:100%;

}



.navImage {
  top:0;
  width:calc(100% - 10px);
  height: 25%;
  background-color: black;
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 10px;

}

#BookBG {

}

#mobileNavContain {
  position: absolute;
}


.iconMobile {
  width:25px;
  height:auto;
  margin:20px;
}

#soundcloudIcon {
  width:30px;
}







.mobileLink {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  font-family: 'Righteous', cursive;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

#MusicBG {
  background-image: url( '../assets/bg.png' );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
#merchBG {
  background-image: url( '../assets/merch.png' );
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

}

#liveBG {
  background-image: url( '../assets/live.png' );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#bookBG {
  background-image: url( '../assets/Book.JPG' );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}






#hamburger {
  width: auto;
  height: 24px;
  position: relative;
  margin: 38px;
  margin-right:20px;
  left: 0;

}

.exitBox {
  /* background-color: red; */
  width: 100vw;
height: 100vh;
position: absolute;
bottom: 0;
left: 0px;
z-index: -28;
}


.logo {

  position: relative;
  height:90px;
  width:auto;
  padding:5px


}


.menuL {
  transform-origin: bottom;
}


.button {

height:100px;
  width:100vw;
}


.slide-enter {
  opacity: 0;
}
.slide-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.slide-exit {
  opacity: 1;
}
.slide-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}



@media only screen and (max-width: 768px) {

}
