.showListing {
  background-color: #ffffff87;
  width: calc(100vw - 20px);
  margin-bottom: 10px;
  display: flex;
flex-direction: row;
justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}


.eventButton {
  text-decoration: none;
  background-color: black;
  padding: 10px;
  color: white;
  margin-right: 10px;

  margin: 10px;

  text-align: center;



}


@media only screen and (max-width: 600px) {
  .eventButton {
    width: 90vw;
  }

  h3 {
    max-width: 33vw;
  }
}

.eventLocation {
  textAlign: left;
  max-width:20vw;
}

.eventDate {
  margin-left: 15px;
  -webkit-text-stroke: .8px black;
  color: white;
  max-width:20vw;
}
