@import url('https://fonts.googleapis.com/css?family=Righteous');

.nav {
  position: absolute;
  background-color: transprent;
  /* opacity: .8; */
  flex:1;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width:100vw;
}

#mobileNavContain {
  position: absolute;
}



.link {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  padding: 30px;
  font-family: 'Righteous', cursive;

}

#hamburger {
  width: auto;
height: 44px;
padding-left: 45px;
}


.internalLinks {

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;

}
.externalLinks {
  display: flex;
  justify-content: flex-end;

  align-items: flex-start;

}
.menuL {
  transform-origin: bottom;
}


Button {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .internalLinks {
    flex-direction: column;
    /* background-color:black; */
    opacity:.8;
    width: 100vw;

  }

  .link {
    display: none;
  }
}
