@import url('https://fonts.googleapis.com/css?family=Righteous');
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}
ul.header {

  padding: 0;
  display: flex;
  width:100vw;
  height:100px;
  align-items: center;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  font-family: 'Righteous', cursive;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
img {
  flex:1;
  position: relative;
  height:100px;
  width:auto;
  padding-left:20px;
  padding-top: 20px;
  filter: invert(100%);
}
