@import url('https://fonts.googleapis.com/css?family=Righteous');
.home {
  width:100vw;
  height:100vh;
}
.header {
  position: absolute;
  z-index: 2;
  margin-top:0;
  margin-bottom:0;
}

body {
  background-color: black;
}



Navigation {
  position: absolute;
}

h1 {
  font-family: 'Righteous', cursive;
letter-spacing: 2px;
color: white;
text-align: center;
font-weight: 100;
font-size: x-large;
-webkit-text-stroke: 1px black;
}



.loadComponent-appear {
    opacity: 0;
}
.loadComponent-appear.loadComponent-appear-active {
    opacity: 1;
    transition: all 0.6s linear;
}
.loadComponent-enter {
    opacity: 0;
}
.loadComponent-enter.loadComponent-enter-active {
    opacity: 1;
    transition: all 0.6s linear 0.4s;
}
.loadComponent-leave {
    opacity: 1.0;
    position:absolute;
    transition: all 0.6s linear 0.4s;
    transition-delay:1s;
}
.loadComponent-leave.loadComponent-leave-active {
    opacity: 1;
    transition: all 0.6s linear;
    position:absolute;
    transition-delay:1s;
}
