@import url('https://fonts.googleapis.com/css?family=Righteous');
.home {
  width:100vw;
  height:100vh;
}
.header {
  position: absolute;
  z-index: 2;
  margin-top:0;
  margin-bottom:0;
}

body {
  background-color: grey;
}

h1 {
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
  color: white;
  -webkit-text-stroke: 1px black;
}


img {

  position: relative;
  height:90px;
  width:auto;
  padding-left:20px;
  padding-right:10px;
  padding-top: 10px;
}



.nav {
  position: absolute;
  background-color: transprent;
  /* opacity: .8; */
  flex:1;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width:100vw;
}



.link {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  padding: 30px;
  font-family: 'Righteous', cursive;

}

.internalLinks {
  
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;

}
.externalLinks {
  display: flex;
  justify-content: flex-end;

  align-items: flex-start;

}
